[submodule "libpd"]
	path = libpd
	url = https://github.com/libpd/libpd
[submodule "raygui"]
	path = raygui
	url = https://github.com/raysan5/raygui
[submodule "rtaudio"]
	path = rtaudio
	url = https://github.com/thestk/rtaudio.git
